			</div> <!-- container -->

			<footer class="container-fluid w-100 bg-faded footer mt-5">
	        	<div class="row justify-content-center">
			  		<a class="navbar-brand" href="https://github.com/jacobwylie/yelpcamp"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-20.png"></a>
				</div>		
				<div class="row justify-content-center">
			  		<p class="navbar-brand footer-text">Jacob Wylie | 2017</p>
				</div>	
	    	</footer>

    	</wrapper>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>	
	</body>
</html>