<!DOCTYPE html>
<html>
    <head>
        <title>Campsight Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/camp/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    	<div id="landing-header">
            <img class="landing-tent" src="/camp/img/tent.png" width="90px" height="90px" class="" alt="">
 			<h1 class="landing-header">Welcome to Campground Reviews</h1>
            <a href="/camp/campgrounds" class="btn btn-success">View the Campgrounds</a>
            <br><br>
            <h6 class="search-header">Or</h6>
            <br>
            <form class="search-form" action="/camp/campgrounds" method="GET">
            <div class="justify-content-center">
                <input class="form-control search-input" type="search" name="search" placeholder="Enter keywords...">
                <input class="btn btn-info search-btn" type="submit" name="" value="Search">
            </div>
            </form>
            <h6 class="search-header">Search for your favorites!</h6>
    	</div>
    	<ul class="slideshow">
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
    	</ul>

<style type="text/css">
    .footer {
        display: none;
    }
</style>
<% include partials/footer %>

